/* .container{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: -10%;
} */

.container{
    position: relative;
    margin-top: -10%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
}